.landingPageContainer {
  background-color: var(--blue-dark);
  width: 100%;
  height: 100vh;
  color: #fff;
  
  display: flex;
}

.landingPageContainer img {
  margin-right: 5%;
}


.loginArea {
  width: 50%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputButton {
  width: 100%;
}

.loginArea input {
  border: none;
  border-radius: 10px 0  0 10px;

  color: var(--white);
  font-size: 1.27rem;

  width: 80%;
  height: 7.5vh;
  padding: 5px;

  background: linear-gradient( 90deg, #2f389c , #2f389c6a);
  outline: var(--blue-dark);
}

.loginArea input::placeholder {
  color: #fff;
}


.logIn{
  font-size: 0;
  outline-color: var(--blue-dark);
  background-color: #2f389c;
  border: 0;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  border-radius: 0 10px 10px 0;
  outline: var(--blue-dark);

  
  width: 20%;
  height: 7.5vh;
  padding: 5px;
  transition: 0.4s;
}
.logIn:hover {
  background: var(--green);

}

.loginArea div form {
  width: 70%;
  margin-right: 30%;
  display: flex;
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.alreadyLoggedIn{
  border: 0;
  border-radius: 20px;
  padding: 10px;
  background: none;
  color:white;
  outline: var(--blue-dark);
}

.logoFull {
  width: 70%;
  margin-bottom: 20%;
}

.backgroundImage {
  width: 50%;
  height: 80%;
}


.loginArea strong {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 3%;
}
.gitMessage {
  width: 45%;
  margin: 5% 0;
}

@media (max-width: 768px) {

  .logoFull {
    max-width: 300px;
  }

  .backgroundImage {
    display: none;
  }
  .loginArea {
    margin: 10px;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginArea input {

    font-size: 1.2rem;
    width: 85%;
    background: linear-gradient(90deg,var(--blue),var(--blue-dark));
  }

  .gitMessage {
    width: 70%;
    margin-top: 20%;
  }

  .logIn {
    font-size: 0;
    width: 15%;
  }

  .inputButton {
    margin-left: 10%;
    width: 90%;
  }

  .alreadyLoggedInContainer {
    width: 100%;
    padding-left: 10%;
  }
}
